* {
  margin: 0;
}

main {
  padding: 36px;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 64px;
}
.header--title {
  font-size: 2rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
  margin-bottom: 5%;
}
.form .form-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.form .form-input input {
  height: 25px;
  width: 25%;
  margin: 2%;
}
.form button {
  width: 40%;
  height: 35px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  font-weight: 900;
}

.meme {
  position: relative;
  text-align: center;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
@media screen and (max-width: 768px) {
  .form .form-input input {
    height: 25px;
    width: 35%;
    margin: 2%;
  }
}
@media screen and (max-width: 480px) {
  .form .form-input input {
    height: 25px;
    width: 45%;
    margin: 2%;
  }
}
