.header_main {
  left: 0px;
  top: 0px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
  align-items: center;
  height: 80px;

}

.header {
  height: 50px;
  width: 50px;
  padding-left: 2em;
}

.header_main .heading {
  color: white;
  padding-left: 2em;
  font-size: 26px;
}

form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

input {
  border-radius: 5px;
  border: 1px solid #D5D4D8;
}

main {
  padding: 36px;
}

.meme-button {
  grid-column: 1/-1;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}