.header_main {
  left: 0px;
  top: 0px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  display: flex;
  align-items: center;
}

.header {
  height: 50px;
  width: 50px;
  padding-left: 2em;
}

.header_main .heading {
  color: white;
  padding-left: 2em;
}